//<МИКСИНЫ>===============================================================================================
@mixin anim($time,$delay){-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin anim_cubic($time, $delay) {-webkit-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-moz-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-ms-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-o-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
@mixin tr($x,$y,$z){transform: translate3d($x, $y, $z);};
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;font-size: 0;}
@mixin flexorder($val){-webkit-box-ordinal-group: $val;-moz-box-ordinal-group: $val;-ms-flex-order: $val;-webkit-order: $val;order: $val;}
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
@font-face {
			font-family: "Helvetica Neue";
			src: url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.eot");
			src: url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.eot?#iefix")format("embedded-opentype"),
			url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.woff") format("woff"),
			url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.ttf") format("truetype"),
			url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.svg") format("svg");
			font-style: normal;
			font-weight: normal;
	}
@font-face {
			font-family: "Helvetica Neue";
			src: url("../fonts/HelveticaNeue-Regular/HelveticaNeue.eot");
			src: url("../fonts/HelveticaNeue-Regular/HelveticaNeue.eot?#iefix")format("embedded-opentype"),
			url("../fonts/HelveticaNeue-Regular/HelveticaNeue.woff") format("woff"),
			url("../fonts/HelveticaNeue-Regular/HelveticaNeue.ttf") format("truetype"),
			url("../fonts/HelveticaNeue-Regular/HelveticaNeue.svg") format("svg");
			font-style: normal;
			font-weight: normal;
	}
@font-face {
			font-family: "Myriad Pro Light";
			src: url("../fonts/HelveticaNeue-Regular/HelveticaNeue.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
}
@font-face {
			font-family: "Lucida Grande";
			src: url("../fonts/Lucida-Grande.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
@font-face {
			font-family: "MyriadProRegular";
			src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
			src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
			url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype"),
			url("../fonts/MyriadProRegular/MyriadProRegular.otf") format("opentype");
			font-style: normal;
			font-weight: normal;
	}
@font-face {
			font-family: "SFCompactText-Semibold";
			src: url("../fonts/SF-Compact-Text-Semibold.otf") format("opentype");
			font-style: normal;
			font-weight: normal;
	}
//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================


//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Helvetica Neue";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth:320px;
$mw:940;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
*{padding: 0px;margin: 0px;border: 0px;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
aside,nav,footer,header,section{display: block;}
html,body{height: 100%;margin: 0;padding: 0;min-width: $minwidth;position: relative;width: 100%;color: #000;}
body{font-size: 100%;line-height: 1;font-size: 14px;font-family: $fontfamily;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;
	&.lock{overflow: hidden;
		@media (max-width:$md3+px){
			width: 100%;
			position: fixed;
			overflow: hidden;
		}
	}
}
input,button,textarea{font-family: $fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size: inherit;}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper{max-width: 1366px ;min-height: 100%;overflow: hidden;margin: 0 auto;
	&.loaded{}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
	@media (max-width:$md2+px){max-width: 750px;}
	@media (max-width:$md3+px){max-width: none;padding:0 15px;}
	@media (max-width:$md4+px){max-width: none;padding:0 10px;}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "popup.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.first {
	// .first__content
	&__content {
		position: relative;
		background: url('../img/section1/bg2.png') left top no-repeat;
		max-height: 624px;

	}
	// .first__row
	&__row {
		position: relative;
		z-index: 2;
		@include flexbox();
	}
	// .first__column1
	&__column1 {
		flex: 0 0 460px;
		@media (max-width:$md4+px){
			flex: 1 1 auto;
		}
	}
	// .first__logo
	&__logo {
		color: #fff;
		font-family: "SFCompactText-Semibold";
		font-size: 35px;
		font-weight: 400;
		line-height: 22.63px;
		text-transform: uppercase;
		letter-spacing: -0.2px;
		margin: 61px 0px 105px 0px;
		&_link {
			color: #fff;
		}
		@media (max-width:$md4+px){
			margin: 30px auto 50px auto;
			text-align: center;
		}
	}
	// .first__title
	&__title {
		@media (max-width:$md4+px){
			@include flexbox();
			justify-content: center;
		}
	}
	// .first__text
	&__text {
		font-family: $fontfamily;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: #fff;
		@media (max-width:$md4+px){
			text-align: center;
		}
	}
	// .first__appbtn
	&__appbtn {
		margin: 16px 0px 57px 1px;
		@media (max-width:$md4+px){
			margin: 20px auto 40px auto;
		}
	}
	// .first__form1
	&__form1 {}
	// .first__column2
	&__column2 {
		@media (max-width:$md2+px){
			display: none;
		}
	}
	// .first__image
	&__image {
		position: absolute; 
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.title {
	@include flexbox();
	margin: 0px 0px 30px 0px;
	// .title__logo
	&__logo {
		margin: 0px 25px 0px 0px;
		@media (max-width:$md4+px){
			margin: 0px 15px 0px 0px;
		}
	}
	// .title__text
	&__text {
		// .title__text_top
		&_top {
			font-family: "MyriadProRegular";
			font-size: 32px;
			font-weight: 400;
			color: #fff;
			@media (max-width:$md4+px){
				font-size: 24px;
			}
		}
		// .title__text_but
		&_but {
			color: #fff;
			font-family: "MyriadProRegular";
			font-size: 32px;
			font-weight: 600;
			line-height: 32px;
			@media (max-width:$md4+px){
				font-size: 24px;
				line-height: 24px;
			}
		}
	}
}
.apple-link {
	@media (max-width:$md4+px){
		@include flexbox();
		justify-content: center;
		align-items: center;
	}
}
.appbtn {
	width: 216px;
	height: 48px;
	border-radius: 5px;
	padding: 0px 0px 0px 81px;
	background:#0d0d0d url('../img/section1/icons/Apple_logo.png') 36px 5px no-repeat;
	// .appbtn__top
	&__top {
		color: #ffffff;
		font-family: "Lucida Grande";
		font-size: 10px;
		font-weight: 400;
		line-height: 19.75px;
		letter-spacing: -0.39px;
		display: block;
		padding: 4px 0px 0px 81px;
	}
	// .appbtn__but
	&__but {
		display: block;
		color: #ffffff;
		font-family: "Lucida Grande";
		font-size: 19px;
		font-weight: 400;
		line-height: 19.75px;
		letter-spacing: -0.7px;
		padding: 0px 0px 0px 81px;
	}
}
.form1 {
	margin: 0px 0px 84px 0px;
	@media (max-width:$md4+px){
		@include flexbox();
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 0px 0px 50px 0px;
	}
	// .form1__text
	&__text {
		color: #ffffff;
		font-family: "MyriadProRegular";
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		margin: 0px 0px 12px 0px;
	}
	&__input {
		display: inline-block;
		width: 296px;
		margin: 0px 26px 0px 0px;
		@media (max-width:$md4+px){
			margin: 0px 0px 15px 0px;
		}
	}
	// .form1__input
	&__btn {
		display: inline-block;
		width: 136px;
		height: 48px;
		background-color: #ffffff;
		border-radius: 5px;
		color: #3cd072;
		font-family: "MyriadProRegular";
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		@media (max-width:$md4+px){
			width: 296px;
		}
	}
}

.input {
	border: 2px solid #ffffff;
	color: #fff;
	background-color: transparent;
	height: 48px;
}

.iphone {
	flex: 0 0 auto;
	position: relative;
	// .iphone__black
	&__black {
		position: absolute;
		top: 82px;
		left: 91px;
		width: 272px;
		height: 566px;
	}
	// .iphone__white
	&__white {
		position: absolute;
		top: 125px;
		left: 216px;
		width: 276px;
		height: 571px;
	}
}
//</SECTION TWO>====================================================================================================

.two {
	// .two__content
	&__content {
		background-color: #f0f0f0;
		position: relative;
	}
	// .two__row
	&__row {
		@include flexbox();
		max-height: 624px;
		position: relative;
		overflow: hidden;
		@media (max-width:$md2+px){
			max-height: 100%;
			overflow: none;
		}
	}
	// .two__column
	&__column {
		flex: 0 0 50%;
		@media (max-width:$md2+px){
			flex: 0 0 100%;
		}
	}
}
.two__column.iphone {
	@media (max-width:$md2+px){
		display: none;
	}
}
.iphone {
	// .iphone__black2
	&__black2 {
		position: absolute;
		top: -6%;
		left: 7%;
		width: 409px;
		height: 491px;
		@media (max-width:$md2+px){
			display: none;
		}
	}
	// .iphone__white2
	&__white2 {
		position: absolute;
		top: 33%;
		left: 9%;
		width: 409px;
		height: 491px;
		@media (max-width:$md2+px){
			display: none;
		}
	}
}

.two-content {
	overflow: auto;
	// .two-content__items
	&__items {
		margin: 140px 0px 0px 0px;
		max-width: 380px;
		float: right;
		@media (max-width:$md2+px){
			float: none;
			max-width: 100%;
			@include flexbox();
			margin: 70px 0px 70px 0px;
		}
		@media (max-width:$md3+px){
			flex-direction: column;
		}
	}
	// .two-content__item
	&__item {
		@media (max-width:$md2+px){
			flex: 1 1 50%;
			margin: 10px;
		}
		@media (max-width:$md3+px){
			flex: 0 0 100%;
		}
		&:last-child{
			margin: 20px 0px 90px 0px;
			@media (max-width:$md2+px){
				margin: 10px;
			}
		}
	}
}
.item {
	// .item__header
	&__header {
		@include flexbox();
		align-items: center;
		@media (max-width:$md3+px){
			justify-content: center;
		}
		@media (max-width:$md4+px){
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	// .item__logo
	&__logo {
		margin: 0px 25px 0px 0px;
	}
	// .item__title
	&__title {
		color: #3cd072;
		font-family: "MyriadProRegular";
		font-size: 24px;
		font-weight: 600;
		line-height: 32px;
	}
	// .item__text
	&__text {
		font-size: 16px;
		line-height: 24px;
		text-align: left;
		margin: 20px 0px 0px 0px;
		@media (max-width:$md3+px){
			text-align: center;
		}
	}
}
//</SECTION THREE>====================================================================================================
.three {
		// .three__content
		&__content {
		}
		// .three__row
		&__row {
		}
		// .three__logo
		&__logo {
			margin: 0px 0px 31px 0px;
			padding: 48px 0px 0px 0px;
			img {
				display: block;
				margin: 0 auto;
			}
		}
		// .three__title
		&__title {
		}
		// .three__items
		&__items {
			@include flexbox();
		}
}
.three-title {
		@include flexbox();
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// .three-title__text1
		&__text1 {
			color: #000000;
			font-family: "MyriadProRegular";
			font-size: 24px;
			font-weight: 400;
			line-height: 32px;
		}
		// .three-title__text2
		&__text2 {
			margin: 16px 0px 44px 0px;
			color: #3cd072;
			font-family: "MyriadProRegular";
			font-size: 36px;
			font-weight: 400;
			line-height: 32px;
		}
}
.three-items {
		// .three-items__item
		&__item {
			margin: 0px 10px 0px 10px;
			min-height: 100%;
		}
}
.three-item {
		flex: 1 1 33.333%;
		@include flexbox();
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		
		// .three-item__logo
		&__logo {
			text-align: center;
		}
		// .three-item__text
		&__text {
			color: #000000;
			font-family: "MyriadProRegular";
			font-size: 24px;
			font-weight: 400;
			line-height: 32px;
			text-align: center;
			margin: 31px 0px 51px 0px;
		}
		// .three-item__image
		&__image {
			width: 296px;
			height: 360px;
		}
}




//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
